// @media (max-width:770px) {
//   .homepage{
//     display: flex;
//     flex-direction: column-reverse;
//     .main-image{
//       width: 80vw !important;
//       margin: auto;
//       height: 100vh;
//       margin-top: 100vh;
//     }
//     .text-section{
//       width: 80vw;
//       margin: auto;
//       text-align: center;
//       h1{
//         font-size: 10px !important;
//       }
//     }
//   }
// }


@media (max-width:770px){

  .contact-page{
    .header{
      padding: 0; 
  
      p{
        font-size: 40px;
      }
    }
  }
  .nav-items{
    z-index: 1; 
    flex-direction: row !important;
    top: 100vh;
    right: 0;
    left: 0;
    bottom: 0vh;
    justify-content: space-evenly;
  
  .mode{ 
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px; 
  }
  }

.homepage-container{ 
  .homepage{
    flex-direction: column-reverse;   
    .image-section, .text-section{
      width: 100%;
      height: 100%;

      h1{
        margin: auto;
        width: 90%;
        font-size: 35px;
      }
  


      .main-image{ 
        width: 90%;
        margin: 0px auto 100px auto;
        position:relative; 
        // position: static;
        // top: 130%;
        // bottom: 0; 
        top: 0%; 
        left: 0;
        right: 0;
        border-radius: 10px;
        img{
          border-radius: 10px;

        }
      }
    }


    .image-section{
      .image-background{
        display: none;
        border-bottom: 70vh solid #27ae60;
        // border-right: 53vh solid transparent; 

      }
    }
  
  }

  .text-section{
    height:auto;  
    p{
      width: 100%;
      line-height: normal;
    }
  }
}

  .about-container{ 
    .summaries{
      flex-direction: column;
      .about-me-text, .stats-section, .stat{
        width: 100%;
        p{
          width: 100%; 
        }

        .number, .text{
          width: 100%;
        }
      }

      .stat{
        padding: 10px;
      }
    }

  .divider{
    width: 100%;
  }

  .my-skills-section{
    .skill{
      width: 100%;
      margin: 15px;
    }

  }

.timeline-section{
  flex-direction: column;
  width: 95%;
  margin: auto;
  .timeline-container{
    width: 100%;
  }
}


  }


  .contact-page-container{ 
    .text-region{
      h1{
        font-size: 20px;
        margin: 10px;
      }
    }

    .items{
      flex-direction: column;
      text-align: center;
      margin: 20px 0px;

    }
  }


  .portfolio-container{
    .intro-text{
      margin: 10px; 
    }


  //   .contact-page .header p {
  //     font-size: 40px; 
  // }
  .row1{
    flex-direction: column; 
    padding: 0px;
  
  } 
  
  .row-item, .row-item-more{  
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  }





}